body {
    background-image: linear-gradient(#7aa3e1 1px, transparent 0px);
    background-size: 100% 2em;
    background-position-y: 1.5rem;
    line-height: 2em;
    background-color: #f1f0e2;
}

h1 { 
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    padding-top: 3px;
}

h2 {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 10px;
}

#addItem {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    
}

#list-head {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    padding-bottom: 22px;
}



.item {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    height: 30px;
}

.complete {
    background-color: lightgreen;
}

#add-todo {
    width: 250px;
}

#add-todo, #mark-complete, #addButton {
    font-size: 20px;
    font-family: 'Brush Script MT';
    border-radius: 10%;
}

#addButton:hover {
    background-color:#4b6fd2;
    transition: 0.2s;
    cursor: pointer;
}

#addButton:active {
    background-color: blanchedalmond;
}

.content {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;

}

#table {
    font-family: 'Brush Script MT', cursive;
    table-layout: auto;
    
}

.delete-btn, .mark-complete {
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
    border-radius: 10%;
    margin-left: 20px;
    width: 200px;
    
}

.delete-btn:hover {
    background-color:#4b6fd2;
    transition: 0.2s;
    cursor: pointer;
}

.delete-btn:active {
    background-color: blanchedalmond;
}

.mark-complete:hover {
    background-color:#4b6fd2;
    transition: 0.2s;
    cursor: pointer;
}

.mark-complete:active {
    background-color: blanchedalmond;
}
